/* navigation-bar */
.navbar-brand
{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar
{
    padding: 5% 20%;
}
.nav-item
{
    padding: 0 1.5rem;
}
.nav-link
{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

body{
    font-family: "Montserrat";
    text-align: center;
}
.container-fluid
{
    padding: 7% 15%;
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6
{
    font-family: "Montserrat", sans-serif;
}
/* heading */
.big-heading
{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
    color: #fff;
}
.price-text
{
    font-size:3.0rem;
    line-height: 1.5;
}
.testimonial-text
{
    font-size:3.0rem;
    line-height: 1.5;
}
.section-heading
{
    font-size:3.0rem;
    line-height: 1.5;
}
.features-title
{
    font-size: 1.5rem;
}
/* title section */
#title .container-fluid
{
    padding: 3% 15%;
    text-align: left;
    position: relative;
    z-index: 1;
}
.coloured-section
{
    background-color:#ff4c68;
    color: #fff;
}
.white-section
{
    background-color: #fff;

}

/* image */
.title-img
{
    transform: rotate(22deg);
    position: absolute;
    z-index: -2;
    right: 15%;
    padding-bottom: 12%;
}

/* download button */
.download-button
{
    margin: 5% 3% 5% 0;
}
/* features */
#features
{
    z-index: 14;
    position: relative;
}
.para
{
    color:grey;
    font-weight: lighter;
}
/* hover over */
.fa-7x
{
    padding-bottom: 1.5rem;
    color: #ff4c68;

}
.fa-7x:hover
{
    color: rgb(110, 6, 13);
}


/* testimonial */
#testimonials
{
    
    background-color: #ef8172;
    position: relative;
    z-index: 1; 
}
.testimonial-image
{
    width:10%;
    border-radius: 100%;
    margin: 5%;
}
/* press */
#press
{
    background-color: #ef8172;
    padding-bottom: 5%;
}
.press-img
{
        width: 18%;
        padding-right: 3%;
}
/* pricing tag */
#pricing
{
    padding: 15% 10% 15% 10%;
}
.pricing-column
{
    padding:3% 2%;
}
/* media query */
@media (max-width:991px) 
{
    .title-img
    {
        position:static;
        transform: rotate(0);
    }
    #title .container-fluid
    {
        text-align: center;
    }
}

/* footer */
.social-media
{
    margin: 20px 10px;
}
.copywrite
{
    color: grey;
}